// 色
$user-header-back-color: #000000;
$user-table-border-color: #222222;
$admin-header-back-color: #222222;

// 横幅
$user-base-max-width: 1200px;

// 縦幅
$user-base-header-height: 80px;
$user-base-footer-height: 226px;