// ファイル呼び出し
@use "../abstracts/variables";

// ユーザ画面
.user {
    header {
        width: 100%;
        height: variables.$user-base-header-height;
        padding: 15px 20px;
        background-color: variables.$user-header-back-color;

        .header-container {
            width: 100%;
            max-width: variables.$user-base-max-width;
            display: flex;
            align-items: center;
            margin: 0 auto;

            .header__item-title {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 2px;
            }
        
            .header__item-right {
                margin: 0 0 0 auto;
                display: flex;
                align-items: center;
                gap: 0 30px;
            }
        
            .header__item-cart {
                margin: 0 0 0 auto;

                img {
                    width: 30px;
                    height: 30px;
                }
        
                :hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// 管理画面
.admin {
    header {
        padding: 15px 20px;
        background-color: variables.$admin-header-back-color;
        display: flex;
        align-items: center;

        .header__item-title {}

        .header__item-right {
            margin: 0 0 0 auto;
        }
    }
}